@import "./Variables/Variables.scss";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  font-family: "Rubik";
  font-weight: 100;
  color: $fontColorPrimary;
  overflow-x: hidden;
  max-width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
