@import "../../Styles/Variables/Variables.scss";

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 0;
  z-index: 999;

  .footerIcon {
    cursor: pointer;
  }
}
